html {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

header {
    background-image: url("pattern.webp");
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: blue;
}